<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\LAPTOP-G2L1POC4:1433;databaseName=OSG_Budget_DB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">admins</property>
    <!--    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://10.50.2.16\SIFMIS-HYPERV02:1433;databaseName=OSG_Budget_DB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Olugb@d3</property>-->
    <!--    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://serve-db.cx2ftdvsxlgf.eu-central-1.rds.amazonaws.com:1433;databaseName=OSG_Budget_DB</property>
    <property name="hibernate.connection.username">budgetMan</property>
    <property name="hibernate.connection.password">$serve123</property>-->
    <property name="hibernate.default_schema">dbo</property>
    <property name="hibernate.forceIgnoreUnresolvedTransactions">false</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <!--    <property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
    <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
    <property name="hibernate.autoCommitOnClose">true</property>-->
    <!--    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>-->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">28000</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.order_updates">true</property>
    <property name="hibernate.order_inserts">true</property>
    <mapping resource="com/bpp/hibernate/EconomicSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/GeographicSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Outcomes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetStatus.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PolicyGroup.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SapPersonnel.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingAttendants.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FundSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/AdministrativeSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingAgenda.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Sectors.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/UserRole.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetTimetableActivities.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtefBoVersion.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtssSectorCeiling.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FrameworkParameters.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/EconomicSegmentHeader3.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestApprovals.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Lgas.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Policies.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ProgrammeSegmentHeader3.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MenuUser.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Notifications.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FundSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetYears.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/AdministrativeSegmentHeader3.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Roles.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Scoring.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Messages.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/EconomicSegmentHeader4.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SapActuals.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MenuCategory.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MybfFigureOwnPercentageValues.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/KeyFigures.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MybfKpi.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/NotificationTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Mdas.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/AdministrativeSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetPerformanceReview.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Outputs.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/GeographicSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PerformanceGrades.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MybfNarrations.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ProgrammeSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PersonnelGradeLevels.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetPhases.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/AuditTrails.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PolicyMda.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/EconomicSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetVersionStatus.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MenuRole.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Goals.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestAgentTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetVersions.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ProgrammeSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetTimetable.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ChartOfAccounts.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PersonnelRelInfo.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SectorGoals.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtssCosting.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetPeriod.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SystemMenu.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FundSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PersonnelCostItems.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/EconomicSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestAgents.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingAgendaDetails.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FunctionalSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SubSectors.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Incomes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/GeographicSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FunctionalSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/PublicProjectSuggestions.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MybfPreviousForward.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetTypeComponentTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SegmentTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingDeliberations.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/DepartmentHod.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetTypeComponents.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Users.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtefDepartmentFigures.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FrameworkMethods.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestDetails.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FrameworkParameterTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/RequestDocuments.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingDetails.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtssMdaCeiling.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Sysdiagrams.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ProgrammeSegment.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SectorProgrammes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MybfFigures.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/GeographicSegmentHeader3.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MeetingRoles.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/SegmentsSettings.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MtssSubSectorCeiling.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/AdministrativeSegmentHeader1.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/MessageTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Departments.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/FunctionalSegmentHeader2.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Currencies.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/YearBudgetTypes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/YearBudgetVersions.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/YearBudget.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Objectives.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/Programmes.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/BudgetReport.hbm.xml"/>
    <mapping resource="com/bpp/hibernate/ProjectDetail.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
